<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Member Login Page</h1>
            <form action="/member/login" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="e">Email</span>
                    <input type="email" class="form-control" name="email" placeholder="example@test.com" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="p">Password</span>
                    <input type="password" class="form-control" name="pwd" placeholder="Password.." aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </th:block>
</th:block>